/* 1 – Изменим стили шрифтов */
/* 2 – Удалим margin в Firefox и Safari */
input[type="text"] {
    margin: 0; /* 2 */
}

.text_field__input[readonly] {
    background-color: #dad9d9;
    opacity: 1;
}

/* стили для input */
.text_field__input {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0;
    font-family: inherit;
    font-size: 1.06rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text_field__input::placeholder {
    color: #00000086;
    text-align: center;
    font-size: 1rem;
}

.text_field__input:focus {
    color: #212529;
    border-color: #8b8b8b;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
  }

@media (max-width: 980px) {
    .text_field__input {
        padding: 1% 1%;
    }
}